@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
    --font-color: rgb(0, 0, 0);
    --bg-green: rgb(145,145,102);
    --bg-gray: rgb(94,94,74);
    --bg-overlay-color: rgb(215,215,203);
    --bg-black: #000;
    --bg-white: #fff;
    --bg-overlay-color-op: rgb(245, 245, 238);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


/* First Page */

/* Header-i */

header {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
}

nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li  {
    padding: 0px 15px;
}

nav ul li a {
    border: none;
    text-decoration: none;
    color: var(--font-color);
}

header nav .logo {
    padding: 10px 25px;
    border: 3px solid var(--bg-black);
}

header nav .logo a {
    text-align: center;
    font-size: 28px;
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: bold;
    color: var(--bg-black);
}

header nav .input-field {
    display: flex;
    padding: 15px;
    width: 220px;
    border-bottom: 1.5px solid var(--font-color);
}

header nav .input-field:hover {
    border: 2px solid var(--font-color);
}

header nav .input-field input {
    border: none;
    outline: 0;
    padding-left: 10px;
}

header nav .input-field input::placeholder {
    font-size: 17px;
}

/* Main Look */

main {
    width: 100%;
    height: 750px;
}

main .container {
    display: flex;
    justify-content: center;
    margin-left: -350px;
}

main .container .main-pic {
    
}

main .container .main-pic img {
    height: 650px;
}

main .container .main-paragraph {
    align-self: center;
    margin: -180px;
    width: 500px;
    height: 250px;
}

main .container .main-paragraph h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

main .container .main-paragraph p {
    font-size: 45px;
    letter-spacing: 1.5px;
    margin-bottom: 35px;
}

main .container .main-paragraph a {
    padding: 15px 45px;
    font-size: 15px;
    color: var(--bg-white);
    background-color: var(--bg-green);
    text-decoration: none;
}

main .container .main-paragraph a:hover {
    transition:  .5s;
    background-color: transparent;
    border: 1px solid var(--bg-black);
}

/* Section One */

section {
    width: 100%;
    height: 1000px;
}

section .section-one {

}

section .section-one .s-o-f {
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
    letter-spacing: 2.5px;
    font-size: 40px;
    color: var(--font-color);
}

section .section-one .s-o-display {
    display: flex;
    justify-content: center;
}

section .section-one .s-o-display .s-o-caption {
    width: 416px;
    height: 687px;
    margin: 40px;    
} 


section .section-one .s-o-display .s-o-caption span {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.8px;
    color: var(--font-color);
}


section .section-one .s-o-display .s-o-caption p {
    margin: 45px 0px;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 27.2px;
    color: var(--font-color);
}

section .section-one .s-o-display .s-o-caption a {
    padding: 15px 45px;
    font-size: 14px;
    text-decoration: none;
    color: var(--font-color);
    border: 1px solid var(--font-color);
}

section .section-one .s-o-display .s-o-caption a:hover {
    border: none;
    transition: .4s ease;
    color: var(--bg-white);
    background-color: var(--bg-green);
}

section .section-one .s-o-display .s-o-video{
    margin: 40px;
    width: 600px;
    height: 687px;
}

section .section-one .s-o-display .s-o-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

/* Section Two */

section .section-two {

}

section .section-two .s-t-display {
    display: flex;
    justify-content: center;
}

section .section-two .s-t-img {
    margin: 0px 80px;
}

section .section-two .s-t-img img {
    margin: 40px;
    -webkit-box-shadow: -26px 32px 0px 0px rgba(94,94,74);
    -moz-box-shadow: -26px 32px 0px 0px rgba(94,94,74);
    box-shadow: -26px 32px 0px 0px rgba(94,94,74);
}

section .section-two .s-t-caption {
    margin: 0px 80px;
    padding-top: 120px;
    width: 416px;
    height: 687px;
}

section .section-two .s-t-display .s-t-caption span {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.8px;
    color: var(--font-color);
}


section .section-two .s-t-display .s-t-caption p {
    margin: 45px 0px;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 27.2px;
    color: var(--font-color);
}

section .section-two .s-t-display .s-t-caption a {
    padding: 15px 45px;
    font-size: 14px;
    text-decoration: none;
    color: var(--font-color);
    border: 1px solid var(--font-color);
}

section .section-two .s-t-display .s-t-caption a:hover {
    border: none;
    transition: .4s ease;
    color: var(--bg-white);
    background-color: var(--bg-green);
}
/* Slider Section, Three*/


section .section-three {
    background: var(--bg-overlay-color);
    height: 800px;
    position: relative;
}

section .section-three h1 {
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1.6px;
    color: var(--font-color);
}

section .section-three .conainer-box {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

section .section-three .conainer-box .indicator {
    position: absolute;
    left: 50%; bottom: -50px;
    transform: translateX(-50%);
}

section .section-three .conainer-box .indicator .btn {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: var(--bg-white);
    cursor: pointer;
    transition: 0.5s;
}

section .section-three .conainer-box .indicator .btn.active {
    background: var(--bg-black);
    opacity: .1;
    width: 30px;
}

section .section-three .conainer-box .testimonial{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section .section-three .slider-row {
    display: flex;
    width: 3200px;
    transition: 0.5s;
}

section .section-three .slider-row .slider-col {
    width: 800px;
    height: 400px;
    position: relative;
}

section .section-three .slider-row .slider-col .user-text {
    background: var(--bg-green);
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: var(--bg-white);
    padding: 30px;
    z-index: 2;
}

section .section-three .slider-row .slider-col .user-text p {
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 24px;
}

section .section-three .slider-row .slider-col .user-text h3 {
    margin: 35px 0 5px;
    font-weight: 300;
    color: var(--bg-white);
}

section .section-three .slider-row .slider-col .user-text .last-price {
    display: inline-block;
    text-decoration-line: line-through;
    color: var(--font-color);
}

section .section-three .slider-row .slider-col .user-text span {
    padding: 0px 5px;
    font-size: 15px;
    color: var(--font-color);
}

section .section-three .slider-row .slider-col .user-img {
    position: absolute;
    top: 0; right: 0;
    height: 100%;
}

section .section-three .slider-row .slider-col .user-img img {
    height: 100%;
    border-radius: 10px;
}

/* Section Four */

section .section-four {
    width: 100%;
}

section .section-four h2 {
    text-align: center;
}

section .section-four h2 span  {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1.6px;
    color: var(--font-color);
}

section .section-four .section-four-display {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section .section-four .section-four-display .s-f-caption {
    margin-top: 30px;
    height: 225px;
    width: 638px;
}

section .section-four .section-four-display .s-f-caption p {
    margin-bottom: 35px;
    text-align: center;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 1.5px;
    color: var(--font-color);
}

section .section-four .section-four-display .s-f-caption .our-story-btn {
    display: flex;
    margin: 0 auto;
    width: 158px;
}

section .section-four .section-four-display .s-f-caption .our-story-btn a {
    padding: 15px 45px;
    border: 1px solid var(--font-color);
    font-size: 14px;
    text-decoration: none;
    color: var(--font-color);
}

section .section-four .section-four-display .s-f-caption .our-story-btn a:hover {
    border: none;
    transition: .4s ease;
    color: var(--bg-white);
    background-color: var(--bg-green);
}

section .section-four .section-four-display .s-f-img {
    margin-top: 50px;
    height: 810px;
    width: 900px;    
}

section .section-four .section-four-display .s-f-img .bg-img img {
    width: 100%;
}

section .section-four .section-four-display .s-f-img .o-s-img  {
    display: flex;
    justify-content: center;
    margin-top: -355px;
}

/* Section Five */

section .section-five {
    margin-top: 300px;
    height: 950px;
    background-color:  var(--bg-overlay-color-op);
}

section .section-five h2 {
    text-align: center;
    padding: 80px 0px;
}

section .section-five h2 span  {
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1.6px;
    color: var(--font-color);
}

section .section-five .cards {
    display: flex;
    justify-content: center;
}

section .section-five .cards .card {
    margin: 0px 30px;
    height: 570px;
    width: 272px;
}

section .section-five .cards .card .card-content h3{
    margin: 17px 0px;
}

section .section-five .cards .card .card-content h3 span{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4px;
    color: var(--bg-black);
}

section .section-five .cards .card .card-content p {
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color);
}

section .section-five .learn-more-btn {
    display: flex;
    margin: 0 auto;
    width: 170px;
}

section .section-five .learn-more-btn a{
    padding: 15px 45px;
    font-size: 14px;
    text-decoration: none;
    color: var(--bg-white);
    background-color: var(--bg-gray);
}

section .section-five .learn-more-btn a:hover {
    transition: .4s ease;
    border: 1px solid var(--bg-black);
    color: var(--bg-black);
    background-color: transparent;
}

/* Footer-i */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

footer .boxes {
    display: flex;
}

footer .boxes .box {
    margin: 0px 150px;
    height: 500px;
}

footer .boxes .box .box-one {
    width: 300px;
    margin-top: 50px;
}

footer .boxes .box .box-two {
    margin-top: 100px;
}

footer .boxes .box .logo {
    margin-top: 50px;
    padding: 10px 25px;
    border: 3px solid var(--bg-black);
}

footer .boxes .box  .logo a {
    text-align: center;
    font-size: 28px;
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: bold;
    color: var(--bg-black);
}

footer .boxes .box p {
    font-size: 28px;
    color: var(--font-color);
}

footer .boxes .box ul {
    margin: 20px 0px;
    list-style: none;
}

footer .boxes .box ul li {
    line-height: 28.8px;
}

footer .boxes .box ul li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.6px;
    color: var(--font-color);
}

footer .boxes .box span {
    margin: 0px 8px;
}

footer .boxes .box a {
    cursor: pointer;
    text-decoration: none;
    color: var(--bg-black);
}

footer .boxes .box a i {
    font-size: 20px;
}

.powerd-by {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: var(--bg-gray);
}

.powerd-by span {
    color: var(--bg-white);
}